
.chat-side{
  width:300px;
  height: 100vh;
  background-color: #2f3e51;
  color:  white;
  float : left;
  &__user-content{
    height: 15vh;
    background-color: #253141;
    font-size:16px;
    padding: 0 20px;
    line-height: 15vh;
    &__user-name{
      float: left;
    }
    .chat-side__user--edit-user{
      float: right;
      line-height: 15vh;
      color:  white; 
      position: absolute;
      top:28px;
      left: 270px;
        }
        .chat-side__user--new-group{
      float: right;
      line-height: 15vh;
      color:  white; 
      position: absolute;
      top:28px;
      left: 250px;
        }
    }
    &__groups{
      padding: 20px;
    }
    &__group-name{
      color: white;
      font-size: 15px;
      padding: 0px,0,5px;
    }
    &__group-message{
      color: white;
      font-size: 11px;
      padding: 0 0 40px;
    }
}


