
.chat-side{
  width:300px;
  height: 100vh;
  background-color: #2f3e51;
  color:  white;
  float : left;
  &__user-content{
    height: 15vh;
    background-color: #253141;
    font-size:16px;
    padding: 0 20px;
    line-height: 15vh;
    
    &__user-name{
      float: left;
    }
    .fa{
      float: right;
      line-height: 15vh;
      color:  white;    }
    }
}
